:root {
  --mainColor: #000;
  --secondaryColor: #fff;
  --tertiaryColor: whitesmoke;

  --background: rgb(52, 86, 139);
  --buttonBackground: rgb(52, 86, 139);
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: 'Source Code Pro', monospace;
}

body {
  display: flex;
  flex-direction: column;

  text-decoration: none;

  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: #A7BFE8; */
  background-color: var(--background);
}

#quote-box {
  display: flex;
  flex-direction: column;
  width: 1200px;

  max-width: 80%;

  margin: 0 auto;

  border-radius: 15px;

  background-color: var(--secondaryColor);
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;

  justify-content: center;
  align-items: left;

  padding: 30px;
}

#text {
  height: 42px;
  margin: 3px;
}


.button-container {
  display: flex;
  
  
}
button {
  background-color: var(--buttonBackground);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  min-width: 30%;
  width: 100px;
  
  opacity: 0.5;
  transition: 0.5s;
  outline: none;
}

button:hover {
  cursor: pointer;
  border-radius: 10px;
  color: var(--tertiaryColor);
  opacity: 1;
  outline: none;
}


.title {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;

  color: var(--mainColor);
  
  text-shadow: 2px 2px 4px #000000;
}

a {
  display: flex;
  background-color: var(--buttonBackground);
  color: white;
  width: 37px;
  height: 37px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  transition: 0.5s;
  opacity: 0.5;
  margin-left: 10px;
}

a:hover {
  color: var(--tertiaryColor);
  outline: none;
  opacity: 1;
}

.quote-wrapper {
  transition: opacity ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.author-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  #quote-box {
    width: 95%;
  }
}